<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/XEPDB1</property>
        <property name="hibernate.connection.username">alumno</property>
        <property name="hibernate.connection.password">Alumno123!</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="com.ejemplo.centro.modelo.Persona"/>
        <mapping class="com.ejemplo.centro.modelo.Alumno"/>
        <mapping class="com.ejemplo.centro.modelo.Profesor"/>
        <mapping class="com.ejemplo.centro.modelo.Administrativo"/>
        <mapping class="com.ejemplo.centro.modelo.Curso"/>
        <mapping class="com.ejemplo.centro.modelo.Departamento"/>
        <mapping class="com.ejemplo.centro.modelo.Asignatura"/>
        <mapping class="com.ejemplo.centro.modelo.Expediente"/>
    </session-factory>
</hibernate-configuration>
